<h1>{{user.profile.firstName}}'s Model Predictor</h1>

<p>Are you a Student or Tutor?</p>
<form action="/ReadWriteSheets" method="get">

    <button  id="student_button" name="student_button" type="submit">For Students</button>
    <button  id="tutor_button" name="tutor_button" type="submit">For Tutors</button>
</form>


