<h1>{{user.profile.firstName}}'s Tutor Dashboard for School Predictor</h1>

<p>1st Step: Enter High school.</p>

<form action="/ReadWriteSheets" method="get">

    <select id="High_School" name="High_School">
        <option value="ucls">University of Chicago Lab School</option>
        <option value="ignatius">St. Ignatius</option>
        <option value="latin">Latin</option>
        <option value="newtrier">New Trier</option>
        <option value="lths">Lyons</option>
        <option value="wpcprep">Walter Payton</option>
        <option value="lincolnpark">Lincoln Park</option>
        <option value="kenwood">Kenwood</option>
        <option value="None">Other</option>
        <option disabled selected value> -- select an option -- </option>
    </select>


    <button  id="list_button_tutor" name="list_button_tutor" type="submit">Find Matches for this school</button>

</form>